.container {
  display: flex;
  justify-content: space-between; /*Separa os itens em esquerda e direita*/
  align-items: center;
  width: 100%;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.colum {
    display: flex;
}